.nav-item-root {
  box-sizing: border-box;
  align-content: stretch;
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 4px;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
}

.nav-item-content {
  box-sizing: border-box;
  align-content: stretch;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  border-radius: 4px;
  flex-shrink: 0;
  width: 147px;
}

.nav-item-label-container {
  flex-basis: 0;
  align-content: stretch;
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
}

.nav-item-label-wrapper {
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins:Regular", sans-serif;
  flex-grow: 1;
  height: 16px;
  justify-content: center;
  line-height: 0;
  min-height: 1px;
  min-width: 1px;
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
  color: rgba(32, 32, 32, 0.6);
  white-space: nowrap;
}

.nav-item-label {
  white-space-collapse: collapse;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
}
