.toggle-root {
  position: relative;
  border-radius: 99px;
  box-shadow: 0px 1px 0px 0px #ffffff, 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  width: 36px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background-color: #f0f0f0;
}

.toggle-root.pressed {
  background-color: #6a4040;
  background-image: none;
}

.toggle-knob {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5.56%;
  right: 50%;
  border-radius: 99px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 35.42%,
      rgba(0, 0, 0, 0.08) 100%
    ),
    #fff;
  box-shadow: 0 0 2px 1px #fff inset, 0 1px 0 0 #fff inset,
    0 0 0 0.5px rgba(0, 0, 0, 0.02), 0 5px 4px 0 rgba(0, 0, 0, 0.02),
    0 3px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.12),
    0 0 1px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
}

.toggle-knob.pressed {
  left: 50%;
  right: 5.56%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 35.42%,
      rgba(0, 0, 0, 0.08) 100%
    ),
    #fff;
}

.toggle-root-inner-shadow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: 0px 1px 1px 0px inset rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px inset rgba(0, 0, 0, 0.04),
    0px 0px 0px 0.5px inset rgba(0, 0, 0, 0.06),
    0px 0px 8px 0px inset rgba(0, 0, 0, 0.02);
}
