/* Tooltip base styling */
.kuse-tooltip {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  padding: 6px 12px;
  line-height: 1.4;
  
  z-index: 50;
}

.kuse-tooltip-arrow {
  fill: #000;
}
