[data-slot="tooltip-content"] {
  background: #000;
  color: #fff;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 10px;
  
}

[data-slot="tooltip-arrow"] {
  fill: #000;
}
